@import url("https://fonts.googleapis.com/css?family=Belgrano");

h3{

    font-family: 'Belgrano';
    text-align: center;
    padding-bottom: 20px;
    padding-right: 12%;
    font-size: 30px;
    font-weight: 900;

}



@media only screen and (min-width: 1224px) {
    .my-Info{
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30%;
        padding-top: 5%;    
    }
    h1{

        font-size: 20px;
    }

.skillGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 150px;
    grid-auto-columns: 0px;
    margin-left: 100px;
    margin-right: 150px;
    padding-top: 1%;
}
.skill-title1{
    padding-top: 5%;
    color: #000;
}

}



@media only screen and (max-width: 1224px) {
    .my-Info{
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10%;
    }
    h1{

        font-size: 10px; 
    }
    
    .skillGrid{

        display: grid;
        grid-template-columns: repeat(2, 100px);
        grid-gap: 30px 60px;
        max-width: 500px;
        margin: auto;
        padding-left: 10%;
    

    }
    .skill-title1{
        padding-top: 5%;
        color: #000;
    }

    
    
}