
@media only screen and (min-width: 1224px) {

.cards-data{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding-left: 32%;
    grid-gap: 0px 50px;
}

.project-title{
 text-align: center;
 padding-left: 34%;
 font-size: 28px;
 font-weight: 900;
 margin-top: 30px;
}
}


@media only screen and (max-width: 1224px) {

    .cards-data{
       align-items: center;
        display: inline-grid;
        grid-template-columns: auto auto;
        margin-left: auto;
        margin-right: auto;
        grid-gap: 0px 30px;
        
    }
    
    
    .project-title{
    
        margin-left: auto;
        margin-right: auto;
        display: table;
        padding-left: 15%;
        font-size: 25px;
    
    
    }


}

