.header{

height: 100px;
width: 100%;
background-color: #00a8f0;
border-bottom-right-radius: 60px;
border-bottom-left-radius: 60px;
box-shadow: rgb(0, 0, 0) 1px 1px 1px 1px;
margin-bottom: 10px;
position: fixed;


}

.header-img{

    width: 60px;
    height: 60px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.809) 1px 1px 1px 1px;
    position: fixed;
    margin-left: 3%;
    margin-top: 1.5%;
  
    /* display: flex;
    justify-content: center;
    align-items: center; */

}